body{
    color: white;
    font: 600 24px;
}
figure{
    margin: 0;
}
.box{
    background: #e0b1e4;
    height: 95px;
    width: 95px;
}
.spin{
    cursor: pointer;
    transform-style: preserve-3d;
}
.spin:hover{
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}